{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h1>Confirm Deletion</h1>
</div>

<div class="record-header">
    <form method="post" action="{% url 'supplier_delete' pk=supplier.pk %}" class="form-inline">
        <p>Are you sure you want to delete "{{ supplier.name }}"?</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Delete</button>
        <a href="{% url 'supplier_list' %}" class="btn btn-primary">Cancel</a>
    </form>
</div>


{% endblock %}
